<!DOCTYPE html>
<html lang="en">
<head>
    <title>Zora - Chatbot</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <h1>ZORA</h1>
    
    <div class="container">
        <div id="chatbox">
            <!-- Messages will be displayed here -->
        </div>

        <form id="messageForm">
            <input type="text" id="messageInput" name="msg" autocomplete="off" placeholder="Type your message..." required>
            <button type="submit">Send</button>
        </form>
    </div>

    <script src="../static/script.js"></script>
</body>
</html>
