<!DOCTYPE html>
<html lang="en">
<head>
    <title>Zora - Chatbot</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Android / Chrome -->
    <link rel="icon" type="image/png" sizes="192x192" href="{{ url_for('static', filename='android-chrome-192x192.png') }}">
    <link rel="icon" type="image/png" sizes="512x512" href="{{ url_for('static', filename='android-chrome-512x512.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">

    <!-- Apple Devices -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <canvas id="iridescence-bg"></canvas>

    <h1>ZORA</h1>

    <div class="container">
        <div id="chatbox"></div>

        <form id="messageForm">
            <input type="text" id="messageInput" name="msg" autocomplete="off" placeholder="Type your message..." required>
            <button type="submit">Send</button>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/ogl@0.0.47/dist/ogl.min.js"></script>
    <script src="../static/script.js"></script>
    <script src="../static/iridescence.js"></script>
</body>

    <script src="../static/script.js"></script>
</body>
</html>
